body{
    font-family: 'Oswald', sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/naoshima.jpg);
    width: 100vw;
    height: 80vh;
    background-size: 100%;
    position: relative;
}
nav{
    margin-left:30vw;
    margin-right: 33px;
    margin-top: 10px;

}

nav a{
    margin-right: 40px;
    font-size: 16px;
    text-decoration: none
}   

nav a:last-child{
    margin-right: 0;
} 

nav a:hover{
    color:rgb(2, 81, 128)
}

h1{
    width: 86px;
    font-size: 36px;
}

main{
    width:100vw;
    max-width: 1280px;
    margin-top: 30px;
    padding-top: 56px;
    padding-left: 100px;
}

h3{
    padding-bottom: 24px;
    font-size: 20px;
}

p{

    font-size: 18px;
    padding-bottom:24px ;
}

button{
    width: 200px;
    height: 50px;   
    border-radius: 0px;
    border: 2px solid #000000;
    font-family: 'Oswald', sans-serif;
} 

button:hover{
    background-color:rgb(2, 81, 128);
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    width: 100vw;
    height: 100vh;
}

